<div class="demo-grid-1 mdl-grid">
	<div class="msg-card mdl-card mdl-shadow--2dp">
		<div class="mdl-card__supporting-text">
			<strong>Test</strong>
		</div>
	</div>
	<div id="prog" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
	<form action="/submit" method="POST" class="q-form">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input q-input" type="text" id="frage" name="frage" autocomplete="off" />
			<label class="mdl-textfield__label" for="frage">Frage...</label>
		</div>
		<div class="buttonrow">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
				Frage stellen
			</button>
		</div>
	</form>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/main.js"></script>
