<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Rückkopplung</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/mdl.min.css">
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		  <header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
			  <span class="mdl-layout-title">Rückkopplung</span>
			</div>
		  </header>
		  <main class="mdl-layout__content">
			<div class="page-content">{{ template "content" .Data }}</div>
		  </main>
		</div>
		<script src="/static/mdl.min.js"></script>
	</body>
</html>
